./whls/jadnxml-1.13.0-py2.py3-none-any.whl

jsonpointer==3.0.0
pytest==8.3.3
netaddr==1.3.0  # latest 1.3.0 breaking changes? sunset old formats, updated
numpy==2.2.5
rfc3986==2.0.0
rfc3987==1.3.8
strict-rfc3339==0.7
typing-extensions==4.12.2
uri-template==1.3.0
validators==0.34.0
iso8601==2.1.0